header {
	background-color: #FFDAB9;
	height: 7rem;
	margin-top: 0;
	padding-top: 2rem;

}

.newgamediv {
	margin: 0 auto;
	text-align: center;
	margin-top: .75rem;
}

.banner {
	font-size: 40pt;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.bannerdiv {
	border: 1px solid black;
	background-color: red;
	width: 9rem;
	margin: 0 auto;
}

.feedback {
	background-color: pink;
	height: 3rem;
}

span {
	border: 1px solid black;
	display: block;
	text-align: center;
	width: 8rem;
	margin: 0 auto;
}

.quizdiv {
	background-color: #32CD32;
	height: 17rem;
}

.questions {
	border: 1px solid black;
	height: 7rem;
	width: 16rem;
	margin: 0 auto;
}

.questions p {
	text-align: center;
	width: 12em;
	margin: 0 auto;
	padding-top: 1em;
}

.question1 {
	padding-top: 1.5em;
}

.question1c {
	margin-left: 1.7em;
	padding-top: .25rem;
}

.question2 {
	padding-top: .4em;
}

.question2c {
	margin-left: 1.7em;
	padding-top: .25rem;
}

.question3 {
	padding-top: .8em;
}

.question3c {
	margin-left: .40em;
	padding-top: .25rem;
}

.question4 {
	padding-top: .8em;
}

.question4c {
	margin-left: 1.3em;
	padding-top: .25rem;
}

.question5 {
	padding-top: 1.5em;
}

.question5c {
	margin-left: 4em;
	padding-top: .25rem;
}

.choices{
	border: 1px solid black;
	height: 7rem;
	width: 16rem;
	margin: 0 auto;
}

ul {
	list-style: none;
	margin-left: 0em;
}

input[type=checkbox] {
	margin-right: .8em;
}

.submitbuttondiv {
	border: 1px solid black;
	margin: 0 auto;
	width: 10rem;
	text-align: center;
}

.submitbutton {
	border: 1px solid black;
	margin: 0 auto;
}

h3 {
	font-size: 8pt;
	font-weight: lighter;
	text-align: center;
	margin-top: 1.2rem;
}

input {

}